@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    background-image: url(/img/iStock-477110708\ \(1\).jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    box-shadow: 1px black;
}
div{
    margin: 1rem;
    padding: unset;
    align-items: center;
}
.container{
    margin-top: 5%;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(4px 4px 8px white);
    
}

.datos{
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    filter: drop-shadow(4px 4px 8px white);
}

p.tp{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.img{
    max-width: 35%;
}

.nameCity{
    font-family: 'Kanit', sans-serif;
    border: 1rem;
    border-radius: 3px;
    width: 50%;
    margin-top: 1rem ;
    border: none;
    font-size: 1rem;
    margin-bottom: 1px;
}

.consultar{
    background-color: transparent;
    font-family: 'Kanit', sans-serif;
    margin-top: 1px;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    filter: drop-shadow(4px 4px 8px white);
}

footer{
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    flex-direction: column;
}

